.layout {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #fff;

  .content {
    width: 100%;
    max-width: 1360px;
    min-height: calc(100vh - 60px);
    padding: 1rem 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .layout {
    .content {
      width: 100%;
      min-height: auto;
      padding: 1rem 1.5rem;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .layout {
    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}