.layout {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #fff;

  .header {
    width: 100%;
    max-width: 1360px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0 3.5rem;

    .title {
      display: inline;
      color: #fff;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin: 0;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100%;
    }
  }

  .content {
    width: 100%;
    max-width: 1360px;
    min-height: calc(100vh - 60px);
    padding: 1rem 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .layout {
    .header {
      height: auto;
      padding: 0 1.5rem;
      margin-top: 1rem;
      max-width: 300px;

      .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0.5rem;
        height: 100%;
      }
    }

    .content {
      width: 100%;
      min-height: auto;
      padding: 1rem 1.5rem;
    }
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .layout {
    .header {
      margin-top: 1rem;
      height: 60px;

      .navbar {
        width: 100%;
      }
    }

    .content {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .header {
    margin-top: 1rem;
    height: 60px;
  }
}
